.teamTable {
  position: absolute;
  top: 80px;
  overflow-y: scroll;
  width: 800px;
  height: 600px;
  background-color: #dbd9d6;
  border-radius: 20px;
}

.teamTable__title {
  position: absolute;
  top: 20px;
  left: 50px;
  color: white;
  padding: 10px 20px;
  background-color: #f29300;
  border-radius: 10px;
  font-weight: 600;
}

.teamTable::-webkit-scrollbar {
  display: none;
}

.team {
  margin: 20px;
  border: none;
  width: 750px;
  height: 150px;
  border-radius: 10px;
  background-color: wheat;
}

.SearchTeam {
  position: absolute;
  top: 40px;
  right: 100px;
  width: 200px;
}


.searchIcon {
  position: absolute;
  top: 17px;
  right: -50px;
}
